<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AcbEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <AcbEditor.Properties.Settings>
      <setting name="EnableThreading" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxThreads" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="BufferSize" serializeAs="String">
        <value>4096</value>
      </setting>
    </AcbEditor.Properties.Settings>
  </userSettings>
</configuration>
